body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: orange; /* Изменяем цвет фона на оранжевый */
    color: blue; /* Изменяем цвет текста на голубой */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .logo {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;          /* Используем flexbox для размещения изображений */
    flex-wrap: wrap;       /* Позволяем обертывание изображений на несколько строк */
    justify-content: center; /* Центрируем изображения по горизонтали */
}

.gallery img {
    width: 300px; /* Ширина изображения */
    height: 200px; /* Высота изображения */
    object-fit: cover; /* Изображение будет обрезано, чтобы заполнить заданные размеры */
}
